<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header%>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">

				<div class="jumbotron">
					<h1>This project is named Pollaky because...</h1>
					<p>
					<div class="bar">
  						<i></i>
  					</div>
					<h2>Ignatius Paul Pollaky</h2>
					<h5>From Wikipedia, the free encyclopedia</h5>
					<p>Ignatius Paul Pollaky ipa po'laki (1828 – 25 February 1918) also known as "Paddington" Pollaky, born in Hungary, became one of the first and best-known professional private detectives in Britain. He also worked with London's Metropolitan Police, instigating alien registration in Britain.</p>
					<p>This is a work of data recovery on sites, and that's investigate.</p>
					<p>hdpl</p>
				</div>

			</div>
			<div class="col-sm-4">

				<div class="well">
					<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Pollaky.JPG/400px-Pollaky.JPG">
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>
