<!-- Modal CoreControl Control -->
<div class="modal fade" id="newCoreControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header"> <!-- MODAL HEADER -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="material-icons">storage</i> Add Core Control</h4>
        <small class="text-warning">Remenber save your changes before leave this form</small>
      </div>

      <div class="modal-body"> <!-- MODAL BODY -->
        <form id="saveCoreControlForm" name="saveCoreControlForm" class="form-horizontal newCoreControlForm" action="/app/newCoreControl" method="POST" novalidate>

          <div class="separateFields">
            <input id="idProject" name="idProject" type="hidden" class="form-control" ng-model="device.idProject" />
          </div>

          <div class="separateFields">
            <label for="areaLocation" class="">Area</label>
            <select class="form-control" name="areaLocation" ng-model="device.areaLocation">
              <option ng-repeat="area in Areas | orderBy:'name'">{{area.name}}</option>
            </select>
          </div>

          <div class="separateFields">
            <label for="name" class="">Name</label>
            <md-input-container md-no-float class="md-block">
              <input ng-model="device.name" placeholder="Input Device Name">
            </md-input-container>
          </div>

          <div class="separateFields">
            <label for="whoProvide" class="">Who provide</label>
            <md-radio-group ng-model="device.whoProvide">
              <md-radio-button class="md-primary" value="Ctrlable">Ctrlable</md-radio-button>
              <md-radio-button class="md-primary" value="Client">Client</md-radio-button>
            </md-radio-group>
            <br>
          </div>

          <div class="separateFields">
            <label for="wallOrientation" class="">Wall Orientation</label>
            <md-radio-group ng-model="device.wallOrientation">
              <md-radio-button class="md-primary" value="Nort">Nort</md-radio-button>
              <md-radio-button class="md-primary" value="South"> South </md-radio-button>
              <md-radio-button class="md-primary" value="West">West</md-radio-button>
              <md-radio-button class="md-primary"  value="East">East</md-radio-button>
            </md-radio-group>
            <br>
          </div>

          <div class="separateFields">
            <label for="type" class="">Type</label>
            <select class="form-control" name="type" ng-model="device.type">
              <option value="Z-Wave Controller">Z-Wave Controller</option>
              <option value="Ctrlable Rack Mount Server 1U V1 (1 Service)">Ctrlable Rack Mount Server 1U V1 (1 Service)</option>
              <option value="Ctrlable Rack Mount Server 1U V1 (2 Service)">Ctrlable Rack Mount Server 1U V1 (2 Service)</option>
              <option value="Ctrlable Rack Mount Server 1U V1 (3 Service)">Ctrlable Rack Mount Server 1U V1 (3 Service)</option>
              <option value="Ctrlable Rack Mount Server 1U V1 (4 Service)">Ctrlable Rack Mount Server 1U V1 (4 Service)</option>
              <option value="PC Controller Audio/Video">PC Controller Audio/Video</option>
              <option value="LaunchPort Base Station">LaunchPort Base Station</option>
              <option value="LaunchPort Wall Station">LaunchPort Wall Station</option>
              <option value="LaunchPort AM.2 Sleeve ­ iPad mini / 2 / 3">LaunchPort AM.2 Sleeve ­ iPad mini / 2 / 3</option>
              <option value="RackMount 48Port POE Switch">RackMount 48Port POE Switch</option>
              <option value="RackMount 24Port POE Switch">RackMount 24Port POE Switch</option>
              <option value="1000 FT CAT6 cable ">1000 FT CAT6 cable </option>
              <option value="1000 FT CAT5 cable ">1000 FT CAT5 cable </option>
              <option value="RJ-45 Jacks (100 pack)">RJ-45 Jacks (100 pack)</option>
              <option value="RJ-45 Connector (100 pack) Cat6">RJ-45 Connector (100 pack) Cat6</option>
              <option value="42U Open Frame Rack Server Cabinet - 4 Post Rack">42U Open Frame Rack Server Cabinet - 4 Post Rack</option>
              <option value="42U Enclosed Rack Server Cabinet ">42U Enclosed Rack Server Cabinet </option>
              <option value="Rack trays 19'' 1U ">Rack trays 19" 1U </option>
              <option value="Rack trays 12'' 1U ">Rack trays 12" 1U </option>
              <option value="Rack mount Wire organizer ">Rack mount Wire organizer </option>
              <option value="48-Port Cat6 Unshielded Wallmount or Rackmount Patch Panel">48-Port Cat6 Unshielded Wallmount or Rackmount Patch Panel</option>
              <option value="32-Port Cat6 Unshielded Wallmount or Rackmount Patch Panel">32-Port Cat6 Unshielded Wallmount or Rackmount Patch Panel</option>
              <option value="24-Port Cat6 Unshielded Wallmount or Rackmount Patch Panel">24-Port Cat6 Unshielded Wallmount or Rackmount Patch Panel</option>
              <option value="Rackmount 1500VA UPS">Rackmount 1500VA UPS</option>
              <option value="Apple iPad Mini Wifi only ">Apple iPad Mini Wifi only </option>
              <option value="Monitor (HDMI/VGA Ports)">Monitor (HDMI/VGA Ports)</option>
              <option value="Mouse">Mouse</option>
              <option value="Keyboard">Keyboard</option>
              <option value="Power Strip 4 Feet 12 Outlet">Power Strip 4 Feet 12 Outlet</option>
              <option value="10-Port  USB Rapid Charger hub">10-Port  USB Rapid Charger hub</option>
              <option value="KVM Switch">KVM Switch</option>
              <option value="USB Cat5 extender">USB Cat5 extender</option>
            </select>
            <br>
          </div>

          <div class="separateFields">
            <label for="brand" class="">Brand</label>
            <md-input-container md-no-float class="md-block">
              <input ng-model="device.brand" placeholder="Brand ex: Z-wave, Lutron ...">
            </md-input-container>
          </div>

          <div class="separateFields">
            <label for="model" class="">Model</label>
            <md-input-container md-no-float class="md-block">
              <input ng-model="device.model" placeholder="Model (ex: KVX-458)">
            </md-input-container>
          </div>

          <div class="separateFields">
            <label for="observation" class="">Observations </label>
            <md-input-container class="md-block">
              <label>Write any Info or Observation about it</label>
              <textarea id="observation" name="observation" ng-model="device.observation" md-maxlength="300" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </div>

          <div class="separateFields col-sm-offset-10">
             <button type="button" form="saveCoreControlForm" class="form-control btn btn-primary"  ng-click="saveCoreControl(device)">Save</button>
          </div>
        </form>

      </div>

      <div class="modal-footer"> <!-- MODAL FOOTER -->
        <div class="col-sm-10">
          <span class="text text-danger">If you close this tab without save changes before, none of your data will be save it on project </span>
        </div>
        <div class="col-sm-2">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal CoreControl end -->
