<!-- Modal SurvillanceControl Control -->
<div class="modal fade" id="newSurvillanceControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header"> <!-- MODAL HEADER -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="material-icons">videocam</i> Add Survillance Control</h4>
        <small class="text-warning">Remenber save your changes before leave this form</small>
      </div>

      <div class="modal-body"> <!-- MODAL BODY -->
        <form id="saveSurvillanceControlForm" name="saveSurvillanceControlForm" class="form-horizontal newSurvillanceControlForm" action="/app/newSurvillanceControl" method="POST" novalidate>

          <div class="separateFields">
            <input id="idProject" name="idProject" type="hidden" class="form-control" ng-model="device.idProject" />
          </div>

          <div class="separateFields">
            <label for="areaLocation" class="">Area</label>
            <select class="form-control" name="areaLocation" ng-model="device.areaLocation">
              <option ng-repeat="area in Areas | orderBy:'name'">{{area.name}}</option>
            </select>
          </div>

          <div class="separateFields">
            <label for="name" class="">Name</label>
            <md-input-container md-no-float class="md-block">
              <input ng-model="device.name" placeholder="Input Device Name">
            </md-input-container>
          </div>

          <div class="separateFields">
            <label for="whoProvide" class="">Who provide</label>
            <md-radio-group ng-model="device.whoProvide">
              <md-radio-button class="md-primary" value="Ctrlable">Ctrlable</md-radio-button>
              <md-radio-button class="md-primary" value="Client">Client</md-radio-button>
            </md-radio-group>
            <br>
          </div>

          <div class="separateFields">
            <label for="wallOrientation" class="">Wall Orientation</label>
            <md-radio-group ng-model="device.wallOrientation">
              <md-radio-button class="md-primary" value="Nort">Nort</md-radio-button>
              <md-radio-button class="md-primary" value="South"> South </md-radio-button>
              <md-radio-button class="md-primary" value="West">West</md-radio-button>
              <md-radio-button class="md-primary"  value="East">East</md-radio-button>
            </md-radio-group>
            <br>
          </div>

          <div class="separateFields">
            <label for="type" class="">Type</label>
            <md-radio-group ng-model="device.type">
              <md-radio-button class="md-primary" value="Fish Eye Camera IP POE">Fish Eye Camera IP POE</md-radio-button>
              <md-radio-button class="md-primary" value="Regular IP POE">Regular IP POE</md-radio-button>
            </md-radio-group>
            <br>
          </div>

          <div class="separateFields">
            <label for="brand" class="">Brand</label>
            <md-input-container md-no-float class="md-block">
              <input ng-model="device.brand" placeholder="Brand ex: Z-wave, Lutron ...">
            </md-input-container>
          </div>

          <div class="separateFields">
            <label for="element" class="">POE</label>
            <md-radio-group ng-model="device.poe">
              <md-radio-button class="md-primary" value="Yes">Yes</md-radio-button>
              <md-radio-button class="md-primary" value="No">No</md-radio-button>
            </md-radio-group>
            <br>
          </div>

          <div class="separateFields">
            <label for="model" class="">Resolution</label>
            <md-input-container md-no-float class="md-block">
              <input ng-model="device.resolution" placeholder="Model (ex: 720, 1080, UHD)">
            </md-input-container>
          </div>

          <div class="separateFields">
            <label for="observation" class="">Observations </label>
            <md-input-container class="md-block">
              <label>Write any Info or Observation about it</label>
              <textarea id="observation" name="observation" ng-model="device.observation" md-maxlength="300" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </div>

          <div class="separateFields col-sm-offset-10">
             <button type="button" form="saveSurvillanceControlForm" class="form-control btn btn-primary"  ng-click="saveSurvillanceControl(device)">Save</button>
          </div>
        </form>

      </div>

      <div class="modal-footer"> <!-- MODAL FOOTER -->
        <div class="col-sm-10">
          <span class="text text-danger">If you close this tab without save changes before, none of your data will be save it on project </span>
        </div>
        <div class="col-sm-2">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal SurvillanceControl end-->
